
consul {
  address = "127.0.0.1:8500"
  retry {
    enabled = true
    attempts = 12
    backoff = "250ms"
    max_backoff = "1m"
  }
}

log_level = "warn"

wait {
  min = "5s"
  max = "10s"
}

syslog {
  enabled = true
  facility = "LOCAL5"
}

exec {
  command = "{{ consul_bin_file }}"
  splay = "5s"

  env {
    pristine = false
    custom = ["PATH=$PATH:{{ consul_bin_file }}"]
  }

  reload_signal = ""
  kill_signal = "SIGINT"
  kill_timeout = "2s"
}

template {
  source = "{{ consul_quota_dir }}/{{ consul_tpl_config }}"
  destination = "{{ consul_quota_dir }}/{{ consul_xml_config }}"
  create_dest_dirs = true
  command = "service ggr restart"
  command_timeout = "60s"
  error_on_missing_key = false
  perms = 0644
  backup = false
  wait {
    min = "2s"
    max = "10s"
  }
}