[Unit]
Description=Consul Template Jobs

[Service]
Type=simple
ExecStart="{{ CONSUL_BIN_FILE }}" -config "{{ BIN_DIR }}/{{ CONSUL_TEMPLATE_CONFIG }}"
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -9 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
